/* #container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */

#headerContainer {
    display: flex;
    justify-content: center;
}

h1 {
    margin-block-end: 0;
    font-family: Arial;
    font-weight: 400;
    font-size: 2vw;
    padding-right: 0.3vw;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

span {
    display: inline;
}

input {
    border: none;
    width: 2vw;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.75vw;
}

.colon {
    font-family: Arial;
    font-size: 1.75vw;
}

#timeContainer {
    display: flex;
    justify-content: center;
}

button {
    width: 10vw;
    height: 2.5vw;
    border: 1px solid #474444;
    border-radius: 3%;
}

button:nth-child(1) {
    background-color: black;
    color: white;
    transition: all 0.3s;
}

button:nth-child(2) {
    background-color: #106EBE;
    border-color: #106EBE;
    color: white;
    transition: all 0.3s;
}

button:nth-child(3) {
    background-color: rgb(139, 126, 94);
    border-color: rgba(139, 126, 94);
    color: white;
    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
}

button:nth-child(1):hover {
    background-color: rgba(0, 0, 0, 0.87);
    transition: all 0.3s;
}

button:nth-child(2):hover {
    background-color: rgba(16, 110, 190, .9);
    transition: all 0.3s;
}

button:nth-child(3):hover {
    background-color: rgba(139, 126, 94, .9);
    transition: all 0.3s;
}